.title{
    background-color: #006400;
    background-size: 100px;
    text-align: center;
    color : #FF4500;
    font-family: 'Cinzel', serif;
    padding-block-start: 30px;
    
}
#title{
    text-align: center;
    font-family: 'Cinzel', serif;
    text-width: 50px;
}

.ok {
    display: flex;
    justify-content: space-around;
}
.center {
    display:flex;
    justify-content: center;
}

.tfont {
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

.tfont2{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    text-align: center;
}